go 1.26

use (
	.
	./checkpointstore/postgres
	./checkpointstore/sqlite
	./codec/proto
	./eventstore/postgres
	./eventstore/sqlite
	./examples/persistent
	./examples/postgres
	./pgtest
	./snapshotstore/postgres
	./snapshotstore/sqlite
)
